@tailwind base;
@tailwind components;
@tailwind utilities;


.your-class::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid white;
  
  color:red;
  clip-path: polygon(100% 80%, 0% 100%, 100% 100%);
  background: white; /* Adjust as needed */
  z-index: 20; /* Ensure it's above other content */
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.loader {
  animation: spin 1.5s linear infinite;
}

@keyframes fadeIn {
  from {
    opacity: 0; /* Start transparent */
  }
  to {
    opacity: 1; /* Fully visible */
  }
}

.animate-fadeIn {
  animation: fadeIn 0.5s ease-in-out; /* Run the fade-in animation */
}
